body {
  font-size: 62.5%; }

.app {
  display: flex;
  flex-direction: column;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  font-size: 1.4rem; }
  .app .header {
    align-self: center;
    padding: 10px;
    font-size: 2.4rem;
    font-weight: 700; }
  .app .color-selection-wrapper {
    display: flex;
    justify-content: space-around; }
    .app .color-selection-wrapper .color-choice {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 400px;
      margin: 10px 0;
      padding: 10px;
      border-radius: 10px;
      font-size: 1.6rem; }
    .app .color-selection-wrapper .color-1 {
      background-color: #d3f6db; }
    .app .color-selection-wrapper .color-2 {
      background-color: #92d5e6; }
    .app .color-selection-wrapper .color-3 {
      background-color: #772d8b; }
    .app .color-selection-wrapper .color-4 {
      background-color: #5a0b4d; }
    .app .color-selection-wrapper .color-5 {
      background-color: #a1ef8b; }
  .app .generate-palette-button {
    align-self: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #b0c4de;
    cursor: pointer; }
  .app .generate-palette-button:hover {
    background-color: #d3ddeb; }
