
.icon-lock-closer:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-right-dir:before { content: '\e802'; } /* '' */
.icon-lock-open:before { content: '\f13e'; } /* '' */